RewriteEngine On

# Comment out RewriteBase if public folder is DocumentRoot
#RewriteBase /app/public/
#RewriteRule    ^$    app/public/    [L]
    RewriteRule    (.*) app/public/$1    [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php/$1 [QSA,L]
#i#    RewriteRule    ^$    app/ublic/    [L]
# Allow HTTP Authorization Bearer
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

# Allow HTTP Content Type
RewriteCond %{HTTP:Content-Type} ^(.*)
RewriteRule .* - [E=HTTP_CONTENT_TYPE:%1]
